suite-integrations/n8n_templates/compliance_gap_pagerduty.json
{
  "name": "ALDECI: Compliance Gap → PagerDuty Incident",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "aldeci-compliance-gap",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000001",
      "name": "ALDECI Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "aldeci-compliance-gap"
    },
    {
      "parameters": {
        "url": "https://events.pagerduty.com/v2/enqueue",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "jsonParameters": true,
        "bodyParametersJson": "={\n  \"routing_key\": \"{{ $vars.PAGERDUTY_ROUTING_KEY }}\",\n  \"event_action\": \"trigger\",\n  \"dedup_key\": \"aldeci-compliance-{{ $json.correlation_id }}\",\n  \"payload\": {\n    \"summary\": \"[ALDECI] Compliance Gap Detected: {{ $json.payload.framework || 'Unknown Framework' }} — {{ $json.payload.control || $json.source }}\",\n    \"severity\": \"{{ $json.severity === 'critical' ? 'critical' : $json.severity === 'high' ? 'error' : $json.severity === 'medium' ? 'warning' : 'info' }}\",\n    \"source\": \"{{ $json.source }}\",\n    \"timestamp\": \"{{ $json.timestamp }}\",\n    \"component\": \"compliance-engine\",\n    \"group\": \"{{ $json.payload.framework || 'compliance' }}\",\n    \"class\": \"compliance-gap\",\n    \"custom_details\": {\n      \"event_type\": \"{{ $json.event_type }}\",\n      \"correlation_id\": \"{{ $json.correlation_id }}\",\n      \"severity\": \"{{ $json.severity }}\",\n      \"payload\": {{ JSON.stringify($json.payload) }}\n    }\n  },\n  \"links\": [\n    {\n      \"href\": \"{{ $vars.ALDECI_BASE_URL || 'http://localhost:8000' }}/compliance/gaps\",\n      \"text\": \"View in ALDECI\"\n    }\n  ]\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000002",
      "name": "PagerDuty: Create Incident",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.status }}",
              "operation": "equal",
              "value2": 202
            }
          ]
        }
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000003",
      "name": "Check: PD Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ok\", \"pagerduty_dedup_key\": \"aldeci-compliance-\" + $('ALDECI Webhook').item.json.correlation_id }"
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000004",
      "name": "Respond: Incident Created",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 500,
        "responseBody": "={ \"status\": \"error\", \"message\": \"PagerDuty delivery failed\" }"
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000005",
      "name": "Respond: Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 400]
    }
  ],
  "connections": {
    "ALDECI Webhook": {
      "main": [
        [
          {
            "node": "PagerDuty: Create Incident",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PagerDuty: Create Incident": {
      "main": [
        [
          {
            "node": "Check: PD Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: PD Success": {
      "main": [
        [
          {
            "node": "Respond: Incident Created",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond: Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": ["aldeci", "compliance", "pagerduty", "incident"],
  "meta": {
    "templateId": "aldeci-compliance-gap-pagerduty",
    "description": "Receives ALDECI compliance.gap events and creates a PagerDuty incident with deduplication key, severity mapping, and link back to ALDECI dashboard.",
    "aldeci_event_type": "compliance.gap",
    "setup_required": [
      "Set PAGERDUTY_ROUTING_KEY variable in n8n",
      "Optionally set ALDECI_BASE_URL variable"
    ],
    "version": "1.0.0"
  }
}
